@mixin trinagle {
  content: "";
  /* Позиционирование */
  position: absolute;
  left: 0;
  bottom: 0;

  /* Блочная модель */
  width: 320px;
  height: 26px;

  /* Оформление */
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 110%;
}
