$font-PTSans: "PTSans";
$font-PTSans_Bold: "PTSans Bold";

$color-alarm: #333;
$color-smoky-white: #eee;
$color-abdel-kerim: #d6d6d6;
$color-krayola: #81b3d2;
$color-lavender: #e4f1f9;
$color-blue-gray: #81b3d2;
$color-geyn: #e5e5e5;
$color-pink-violet: #678fa8;
$color-light-blue: #9ac2db;

$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1200px)";
