.addition {
  background-color: $color-smoky-white;

  @media #{$tablet} {
    background-color: transparent;
  }
}

.addition__item {
  /* Блочная модель */
  padding: 30px 20px;
  border-bottom: 1px solid $color-abdel-kerim;

  &:last-child {
    border-bottom: none;
  }

  @media #{$tablet} {
    /* Блочная модель */
    border: none;
    width: 170px;
    padding: 50px;

    /* Оформление */
    background-color: $color-smoky-white;
  }
}

.addition__title {
  /* Блочная модель */
  margin: 0;

  /* Типографика */
  font-family: $font-PTSans_Bold;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  text-transform: uppercase;
  text-align: center;

  @media #{$tablet} {
    width: 110px;
    margin: 0 auto;

    font-size: 21px;
  }
}

.addition__number {
  /* Типографика */
  font-family: $font-PTSans;
  font-size: 14px;
  line-height: 21px;
  color: $color-alarm;
  text-align: center;
}

.addition__desc {
  /* Блочная модель */
  margin: 0;

  /* Типографика */
  font-family: $font-PTSans;
  font-size: 14px;
  line-height: 21px;
  color: $color-alarm;
  text-transform: uppercase;
  text-align: center;
}
