.button {
  /*Блочная модель*/
  border: none;
  width: 100%;

  /* Типографика */
  font-family: $font-PTSans_Bold;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;

  /* Оформление */
  background-color: $color-krayola;
  outline: 0;
}
