.checkbox {
  /* Блочная модель */
  display: flex;
  margin-bottom: 25px;

  /* Типографика */
  font-family: $font-PTSans_Bold;
  font-size: 18px;
  line-height: 26px;
  color: #000;
}

.checkbox__value {
  display: none;
}

.checkbox__state{
  /* Блочная модель */
  width: 56px;
  height: 56px;

  /* Оформление */
  background-color: $color-smoky-white;
  border-radius: 10%;
}
