.container {
  /* Блочная модель */
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  outline: 1px solid red;

  &--footer  {
    @media #{$tablet} {
      /* Блочная модель */
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &--flex {
    @media #{$tablet} {
      display: flex;
      flex-direction: row;
    }
  }

  &--addition {
    @media #{$tablet} {
      /* Блочная модель */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media #{$tablet} {
    width: 768px;
  }
}
