.copyright {
  margin: 0 auto;

  @media #{$tablet} {
    margin: 0;
  }
}

.copyright__title {
  /* Типографика */
  font-family: $font-PTSans;
  font-size: 14px;
  line-height: 26px;
  color: #000;
  text-transform: uppercase;
}
