.greeting {
  /* Позиционирование */
  position: relative;

  /* Блочная модель */
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 70px;

  /* Офомление */
  background: $color-lavender url("../img/bg-back-mobile@1x.jpg") center;
  background-size: cover;

  &--background {
    /* Блочная модель */
    padding: 90px 0;
  }

  &::after {
    @include trinagle(26px,"bg-intro-triangle-mobile", "svg");

    @media #{$tablet} {
      @include trinagle(52px, "bg-intro-triangle-tablet", "svg");
    }
  }
}

.greeting__title {
  /* Блочная модель */
  width: 280px;
  height: 50px;

  /* Оформление */
  background-image: url("../img/text-sedona.svg");
  background-size: contain;
  background-repeat: no-repeat;

  @media #{$tablet} {
    width: 450px;
    height: 80px;
  }

  &--bg {
    /* Блочная модель */
    height: 220px;

    /* Оформление */
    background-image: url("../img/text-sedona-index.svg");

    @media #{$tablet} {
      height: 350px;
      margin: 0 auto;
    }
  }
}
