.offer {
  background-color: $color-blue-gray;
  @media #{$tablet} {
    background-color: #fff;
  }
}

.offer__wrapper {
  @media #{$tablet} {
    /* Блочная модель */
    width: 255px;

    /* Оформление */
    background-color: $color-blue-gray;
  }
}

.offer__title {
  /* Блочная модель */
  margin: 0;
  padding-top: 45px;

  /* Типографика */
  font-family: $font-PTSans_Bold;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  @media #{$tablet} {
    /* Блочная модель */
    max-width: 151px;
    margin: 0 auto;

    /* Типографика */
    font-size: 21px;
  }
}

.offer__number {
  /* Типографика */
  font-family: $font-PTSans;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-align: center;
}

.offer__desc {
  /* Блочная модель */
  margin: 0;
  padding-bottom: 43px;

  /* Типографика */
  font-family: $font-PTSans;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  @media #{$tablet} {
    padding: 0 50px;
  }
}

.offer__image {
  /* Блочная модель */
  width: 280px;
  height:260px;
  overflow: hidden;

  &--place {
    @media #{$tablet} {
      order: -1;
    }
  }

  @media #{$tablet} {
    width: 512px;
  }
}

.offer__image-item {
  /* Блочная модель */
  display: block;
  width: auto;
  margin-left: -102px;
}
