.page-navigation__list {
  /* Блочная модель */
  padding: 0;
  margin: 0;
}

.page-navigation__item {
  /* Блочная модель */
  border-bottom: 1px solid $color-pink-violet;
  border-top: 1px solid $color-light-blue;
  list-style: none;

  &:nth-child(1) {
    border-top: none;
  }
  &:last-child {
    border-bottom: none;
  }
}

.page-navigation__link {
  /* Блочная модель */
  display: block;

  /* Типографика */
  font-family: $font-PTSans_Bold;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  /* Оформление */
  background-color: $color-blue-gray;
}
