.radio {
  /* Блочная модель */
  display: flex;

  /* Типографика */
  font-family: $font-PTSans_Bold;
  font-size: 18px;
  line-height: 26px;
  color: #000;
}

.radio__value {
  display: none;
}

.radio__state {
  /* Блочная модель */
  width: 56px;
  height: 56px;

  /* Оформление */
  background-color: $color-smoky-white;
  border-radius: 50%;
}
