.recommendation {
  /* Блочная модель */
  padding-top: 25px;

  @media #{$tablet} {
    /* Блочная модель */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 50px;
  }
}

.recommendation__item {
  display: flex;

  &:nth-child(2) {
    @media #{$tablet} {
      order: 1;
    }
  }

  @media #{$tablet} {
    /* Блочная модель */
    flex-direction: column;
    max-width: 170px;
    text-align: center;
  }
}

.recommendation__image {
  /* Блочная модель */
  width: 33px;
  height: 38px;

  @media #{$tablet} {
    /* Блочная модель */
    width: 75px;
    height: 75px;
    margin: 0 auto;
  }
}

.recommendation__inner {
  margin-left: 10px;
}

.recommendation__title {
  /* Типографика */
  font-family: $font-PTSans_Bold;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  text-transform: uppercase;
}

.recommendation__desc {
  /* Типографика */
  font-family: $font-PTSans;
  font-size: 14px;
  line-height: 21px;
  color: $color-alarm;
  text-transform: uppercase;
}
