.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social__link {
  /* Блочная модель */
  display: inline-flex;
  width: 46px;
  height: 48px;
  margin-right: 10px;

  /* Типографика */
  font-size: 0;

  /* Оформление */
  background-color: $color-blue-gray;
}

.social__link-tw {
  background: $color-blue-gray url("../img/icon-twitter.svg") center no-repeat;
}

.social__link-fb {
  background: $color-blue-gray url("../img/icon-facebook.svg") center no-repeat;
}

.social__link-yt {
  background: $color-blue-gray url("../img/icon-youtube.svg") center no-repeat;
}
