.toggle {
  /* Блочная модель */
  width: 22px;
  height: 22px;
  border: none;

  /* Типографика */
  font-size: 0;

  /* Оформление */
  background-color: transparent;

  @media #{$tablet} {
    display: none;
  }

  &--close {
    /* Позиционирование */
    position: absolute;
    right: 20px;
    top: 20px;

    /* Оформление */
    background-image: url("../img/icon-cross.svg");
  }

  &--open {
    /* Позиционирование */
    position: absolute;
    right: 20px;
    top: 17px;

    /* Оформление */
    background-image: url("../img/icon-menu.svg");
  }
}
